<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
  <!--<add key ="appid" value ="8e960d18" />-->
  <add key ="appkey" value ="3e2a36b455b6c25cad2c6c4bd888ac63" />
  </appSettings>
  <connectionStrings>
    <add name="Bernard_Final_FitnessTracker.My.MySettings.UsersConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Users.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>